@charset "UTF-8";

* {
    margin:0;
    padding:0;
    border:0;
}

/* =============================================================================
   Page load animation
   ========================================================================== */

@-webkit-keyframes reset {0% {opacity: 0;} 100% {opacity: 0;}}
@-moz-keyframes	reset {0% {opacity: 0;} 100% {opacity: 0;}}
@keyframes	reset {0% {opacity: 0;} 100% {opacity: 0;}}

@-webkit-keyframes fade-in {0% {opacity: 0;margin-top:24px;}50% {opacity: 0.5;} 100% {opacity: 1;}}
@-moz-keyframes fade-in {0% {opacity: 0;margin-top:24px;}50% {opacity: 0.5;} 100% {opacity: 1;}}
@-keyframes fade-in {0% {opacity: 0;margin-top:24px;}50% {opacity: 0.5;} 100% {opacity: 1;}}

.fade-in {-webkit-animation-name: reset, fade-in;-webkit-animation-duration: 0.4s;-webkit-animation-timing-function: ease-in;-webkit-animation-iteration-count: 1;-moz-animation-name: reset, fade-in;-moz-animation-duration: 0.4s;-moz-animation-timing-function: ease-in;-moz-animation-iteration-count: 1;animation-name: reset, fade-in;animation-duration: 0.4s;animation-timing-function: ease-in;animation-iteration-count: 1;}

.fade-in.one {-webkit-animation-delay: 0, 0;-moz-animation-delay: 0, 0;animation-delay: 0, 0;}
.fade-in.two {-webkit-animation-delay: 0, 0.2s;-moz-animation-delay: 0, 0.2s;animation-delay: 0, 0.2s;}
.fade-in.three {-webkit-animation-delay: 0, 0.4s;-moz-animation-delay: 0, 0.4s;animation-delay: 0, 0.4s;}

/* =============================================================================
   Set up
   ========================================================================== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;/*background: url(../images/me-blur.jpg)*/background:#FAFAFA; no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;font-family: sans-serif;}
html, body {height: 100%;margin:0;}
body { margin: 0; font-size: 1em; line-height: 1.5em; font-family: "Garamond", Georgia, serif;color: #33333;}
::-moz-selection { background: #333333; color: #333333; }
::selection { background: #333333; color: #fff;}


/* =============================================================================
   Layout
   ========================================================================== */

.wrap	{max-width:728px;margin:0 auto;padding: 48px;}
header	{text-align: center;width:100%;margin:0 auto; text-transform:uppercase;}
.logo	{width:100%; height:49px;margin:0;}
.logo span	{display:block;width:49px; margin:0 auto;}
#main	{width:100%;margin:0 auto 6%;}
#main p	{width:48%;float:left;}
#main p.about	{margin-right: 4%;}
footer	{width:100%;margin:0 auto ; text-align:center;}
.robes {width:100%; height 32:;}
.robes span {display:block; margin:0 auto;background:url(../images/DoctorRobes-short.png); width:32px;height:13px;}
/* =============================================================================
   Links
   ========================================================================== */

a { color: #333333;font-weight: bold;text-decoration: none;border-bottom: 1px solid #333333;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out; }
a:visited { color: #333333; }
a:hover { color: #cc1177;text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
a img {border: none;vertical-align: bottom;}
/*.email-link	{position: absolute; right: 1.5%;top:0;}
.email-link span {position:relative;display: block;}
.email-link span a span	{display: none;}*/
/*.email-link span:before,.email-link span:after {content:"";position:absolute;z-index:-1;bottom:28%;left:1%;width:49%;height:30%;max-width:100%;-webkit-transform:rotate(-4deg);-moz-transform:rotate(-4deg);-o-transform:rotate(-4deg);transform:rotate(-4deg);}*/
/*.email-link span:after{right:1%;left:auto;-webkit-transform:rotate(4deg);-moz-transform:rotate(4deg);-o-transform:rotate(4deg);transform:rotate(4deg);}*/


a.footer-email	{display: block;text-align:center; border-bottom:none;clear:left;}
li.footer-email { width:100%; }
ul, li	{margin: 10px 0;padding: 0;list-style: none; display:inline-block;}
.external-links	{width:100%;height:88px;margin:0 auto;text-align:center;}
.button-behance, .button-dribble, .button-twitter, .button-linkedin, .button-illinois, .button-facebook, .button-flickr, a.button-email	{display:inline-block;min-width:100px;width:120px;height:88px;border-bottom: none;/*text-indent: -9999px*/margin: 0;text-align:center;text-transform:uppercase;}
.button-twitter span, .button-linkedin span, .button-behance span, .button-dribbble span, .button-facebook span, .button-illinois span, .button-flickr span, li.button-email	{display:none;}
.button-twitter	 {background:url(../images/twitter.png) no-repeat center center;}
.button-facebook	 {background:url(../images/facebook.png) no-repeat center center;}
.button-illinois {background:url(../images/Illinois.png) no-repeat center center;}
.button-flickr	 {background:url(../images/flickr.png) no-repeat center center;}
.button-linkedin {background:url(../images/linkedin.png) no-repeat center center; }
.button-twitter:hover	{background:url(../images/twitter.png) no-repeat center center;}
.button-facebook:hover	{background:url(../images/facebook.png) no-repeat center center;}
.button-illinois:hover	{background:url(../images/Illinois.png) no-repeat center center;}
.button-flickr:hover	{background:url(../images/flickr.png) no-repeat center center;}
.button-linkedin:hover	{background:url(../images/linkedin.png) no-repeat center center; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}



/* =============================================================================
   Typography
   ========================================================================== */

small { font-size: 0.85em;line-height:1.5em; }
p	{font-size:1.1em /*16px*/;line-height:1.5em /*24px*/;margin:0 0 1.5em /*24px*/;}
h1,h2 {color:#333333;margin: 0 0 10px;padding:0;text-transform: uppercase;text-align:center;}
h1 {font-size: 3em;line-height:1em;padding:24px 0;margin: 0 auto;font-family:Garamond, Georgia; serif;}


/* =============================================================================
   Contain floats
   ========================================================================== */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   For IE7 and older show simplified page
   ========================================================================== */

html.lt-ie8	{background-color:#fff;background-image:none;}
.lt-ie8 body	{color:#000;}
.lt-ie8 a { color: #000;border-bottom: 1px solid #000;}
.lt-ie8 a:visited { color: #000; }
.lt-ie8 a:hover { color: #fff;background:#000;}
.lt-ie8 a.button-email	{color:#fff;}
.lt-ie8 h1	{color:#333;text-align:left;}
.lt-ie8 h2 {display: none;}
.lt-ie8 h2 span span	{padding: 0;}
.lt-ie8 .wrap	{max-width:624px;margin:0 auto 0 24px;padding:24px;}
.lt-ie8 .logo	{display:none;}
.lt-ie8 header {text-align:left;}
.lt-ie8 #main	{margin:0 auto 24px;}
.lt-ie8 #main p	{width:100%;float:none;}
.lt-ie8 #main p.about	{margin-right: 0;}
.lt-ie8 ul, .lt-ie8li	{list-style: square;}
.lt-ie8 .external-links	{width:auto;height:auto;}
.lt-ie8 .button-behance, .lt-ie8 .button-twitter, .lt-ie8 .button-linkedin, .lt-ie8 .button-dribbble	{display:inline;width:auto;height:auto;float: none;border-bottom: none;text-indent: 0;margin:0;}
.lt-ie8 .button-twitter, .lt-ie8 .button-linkedin, .lt-ie8 .button-behance, .lt-ie8 .button-dribbble, .lt-ie8 .button-twitter:hover, .lt-ie8 .button-behance:hover, .lt-ie8 .button-linkedin:hover, .lt-ie8 .button-dribbble:hover {background-image:none;}

/* =============================================================================
   IE 10 Snap mode fix
   ========================================================================== */

@-ms-viewport{
    width: device-width;
}

/* =============================================================================
   Media queries (Smartphones only)
   ========================================================================== */
@media only screen
and (max-width : 715px) {
         .external-links {width: 370px;}
}

@media only screen
and (max-width : 450px) {
	html	{background:#dfdfdf;}
	body	{color:#333333;}
	a	{color:#333333; border-bottom:1px solid #333333;}
	a:hover	{color:#cc1177 !important; border-bottom:none;}
	.wrap	{max-width:550px;margin:0 auto;padding:0;background:#fff;}
	header	{border-bottom:1px solid #333333;margin:0 0 4%; padding-top:4%}
	.logo	{width:100%;background:#fff url(../images/logo-dark.png) no-repeat center center;background-size: 10%;padding:4% 0;margin:0;}
	.logo span	{display: none;}
	div#main p	{width:87%;float:none;margin: 0 auto;}
	div#main p.about	{margin: 0 auto 4%;}
	h1 {font-size: 2.5em;line-height:1em;padding:6% 4% 2%;margin: 0 auto;font-family:"Garamond", Georgia, serif;}
	h2 {font-size: 1em;line-height:1em;padding:0;margin:0 0 6%;text-align: center;display: table;}
	h2 span span	{padding: 0 6px;}
	h2:before, h2:after {background: none;}
	footer	{text-align: left;}
        ul,li,li.button-email {display:block; margin: 0;}
	.external-links	{width:100%;height:auto;margin:0 auto;}
	.button-twitter, .button-linkedin, .button-facebook, .button-illinois, .button-flickr, a.button-email	{width:88%;height:auto;background-image:none;display: block;float: none;border-bottom: 1px solid #dfdfdf;border-top: 1px solid #dfdfdf;margin: 0;text-indent: 0;padding:4% 6%;color:#333333; text-align:left;}
	.button-twitter span, .button-linkedin span, .button-behance span, .button-dribbble span, .button-facebook span, .button-illinois span, .button-flickr span, a.button-email span, .button-email span	{position:absolute;right:10%; display:inline;}
	.button-twitter:hover, .button-behance:hover, .button-linkedin:hover, .button-dribbble:hover, .button-facebook:hover, .button-illinois:hover, .button-flickr:hover, a.button-email:hover	{background:#ffffff; color:#cc1177; background-image:none;opacity: 1;border-bottom: 1px solid #dfdfdf}
       li.footer-email {display:none;}
}
